/*
    Scroll Bar Styling
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* Base Site Styling */

html {
  scroll-behavior: smooth;
}

.social-icon:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

a { color: black; }
a:visited { color: black; }
a:hover { color: black; }
a:active { color: black; }

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.centered-info {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
}

#main {
  
  background-color: black;
  background-image: url("triangle.jpg");
  background-position: center;
  background-size: cover;

  color: white;

  flex: 1 0 auto;
  width: 100%;
}

@media only screen and (max-width: 767px) {

  #main {
    background-position: center right;
    background-size: cover;
  }

}

#bg-container {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

#about-container {
  margin-top: 2%;
  margin-bottom: 2%;
}

#projects-container {
  margin-top: 2%;
  margin-bottom: 2%;
}

#contact-container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.column p {
  /* font-family: 'Balsamiq Sans', cursive; */
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}